#benefits-section {
  margin-top: 18px;
  padding-block: 160px;
}

.benefits__text {
  font-size: calc((100vw - 768px) / (1440 - 768) * (54 - 36) + 36px);
  line-height: 118%;
  text-align: center;
}

.benefits__text--main {
  font-weight: 700;
}

.benefits__text--secondary {
  text-decoration: line-through;
  color: #999795;
}

@include mid-screen() {
  #benefits-section {
    margin-top: 0;
  }
}
