#benefits-section {
  margin-top: 18px;
  padding-block: 160px;
}

.benefits__text {
  font-size: 54px;
  line-height: 118%;
  text-align: center;
}

.benefits__text--main {
  font-weight: 700;
}

.benefits__text--secondary {
  text-decoration: line-through;
  color: #999795;
}
