#testimonials-section {
  margin-top: 179px;
}

.testimonials__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 118%;
  text-align: center;
}

#testimonials__cards {
  text-align: left;
  margin-top: 48px;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  column-gap: 24px;
  overflow-x: auto;
}

.testimonials__card {
  border-radius: 16px;
  background: #fff;
  width: 29%;
  padding: 24px;
  flex: 0 0 28.9%; /* Зафиксировать ширину и отключить увеличение и уменьшение */
  box-sizing: border-box;
  font-size: 16px;
  line-height: 150%;
  &-author {
    font-weight: 700;
  }
  &-author-role {
    margin-top: 8px;
  }
  &-author-role b {
    font-weight: 700;
  }

  .author-wrapper {
    margin-top: 16px;
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
  }
}

.companies-logos {
  max-width: 1140px;
  padding-inline: 16px;
  margin-top: 76px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 38px;
  row-gap: 24px;
  align-items: center;
  justify-content: center;
}
