html {
  max-width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: $main-color;
  background-color: lightgray;
  max-width: 100vw;
  min-height: 100vh;
}

@import "components/header";
@import "components/main";
@import "components/footer";
